DISCORD_TOKEN=
CLIENT_ID=
DATABASE_URL=postgresql://user:password@host.neon.tech/dbname?sslmode=require
DIRECT_URL=postgresql://user:password@host.neon.tech/dbname?sslmode=require
INTERNAL_API_SECRET=
INTERNAL_API_SOCKET=/tmp/quonex-internal.sock
